viton/
*.xlsx
*.pdf
*.rar
*.pt
output_images/
media/
hd-image/
__pycache__/
qdrant_data/
node_modules/
.idea/fashion.iml
.idea/.gitignore
.idea/material_theme_project_new.xml
.idea/modules.xml
.idea/vcs.xml
frontend/yarn.lock
frontend/node_modules/
.idea/watcherTasks.xml
.idea/
