.menuList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;    
    z-index: 1;
    width: 150px;
    right: 15px;
    margin: 5px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.menuItem:hover {
    background-color: #e9ecef;
}

.menuItem span {
    margin-left: 10px;
    font-weight: 500;
}